<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <title>WhatAbout Text Analysis</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    
    </head>
    <body>
      <h2 style="display:inline;">Mean sentiment analysis score for the word specified:</h2>
      <h2 id="mean" style="display:inline;"></h2>

      <div id="tweets">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tweet Text</th>
            <th scope="col">Sentiment Score</th>
            <th scope="col">Emoji</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>

<script>
  setInterval(function(){
    $.getJSON('/refreshData', {
    }, function(data) {
        tweets = data.sTweets;
        scores = data.sScores;
        sum_score = 0.0;
    
        $("tbody").empty();
        for(t in tweets){
          index = parseInt(t)+1;
          score = Math.round(parseFloat(scores[t]) * 100)/100;
          sum_score+=score;
          if(score>=0.75){
            emoji = '&#128077';
            color = 'green';
          }else if(score>=0.5 && score<0.75){
            emoji = '&#x1F937';
            color = 'gold';
          }else{
            emoji = '&#128078';
            color = 'red';
          }

          $("tbody").append("<tr><th scope='row'>"+index+"</th><td>"+tweets[t]+"</td><td style='color:"+color+";'>"+score+"</td><td style='font-size:100px;'>"+emoji+"</td></tr>");
        }

        mean_score = Math.round(sum_score*100/scores.length)/100;
        $("#mean").text(mean_score);
      } 
    );
  },5000);

</script>